.header {
    background-color: teal;
    color: lawngreen;

    display: flex;
    flex-direction: row;
    gap: 1em;
    height: 4em;
    align-items: center;

    min-width: 100vw;
}

.header img {
    align-self: stretch;
}

.header h1 {
    margin: 0;
}